body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

header {
  text-align: center;
  padding: 80px 0;
  background-image: url("public/encabezado.jpg"); /* Reemplaza 'header_background.jpg' con la ruta de tu imagen de fondo */
  background-size: cover;
  color: #fff; /* Ajusta el color del texto según sea necesario */
}

header > h1 {
  font-size: calc(0.5em + 5vw);
}

header > p {
  font-size: calc(0.5em + 1.5vw);
}

.vision {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px 0;
  text-align: center;
  background-color: #bababa;
  background-size: cover;
  color: #000; /* Ajusta el color del texto según sea necesario */
}

.contentVision {
  text-align: center;
  flex-basis: 300px;
  flex-grow: 1;
  padding: 0 20px;
  margin-bottom: 30px;
}

.contentVision > h2 {
  font-size: calc(0.5em + 4vw);
  color: #272727;
}

.contentVision > p {
  font-size: calc(0.5em + 1.5vw);
  color: #272727;
}

.titleFeatures {
  text-align: center;
  font-size: calc(0.5em + 4vw);
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px 0;
  background-color: #fff;
}

.feature {
  text-align: center;
  flex-basis: 300px;
  flex-grow: 1;
  padding: 0 20px;
  margin-bottom: 30px;
}

.feature img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.future {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px 0;
  text-align: center;
  background-color: #5086c1;
  background-size: cover;
  color: #000; /* Ajusta el color del texto según sea necesario */
}

.contentFuture {
  text-align: center;
  flex-basis: 300px;
  flex-grow: 1;
  padding: 0 20px;
  margin-bottom: 30px;
}

.contentFuture > h2 {
  font-size: calc(0.5em + 4vw);
  color: #fff;
}

.contentFuture > p {
  font-size: calc(0.5em + 1.5vw);
  color: #fff;
}

.cta {
  text-align: center;
  background-color: #f2f2f2;
  padding: 80px 0;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}
